In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
noteevents = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/NOTEEVENTS.csv")
diagnoses = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/DIAGNOSES_ICD.csv")
diagnoses_dict = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/D_ICD_DIAGNOSES.csv")
admissions = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/ADMISSIONS.csv")
patients = pd.read_csv("/project/projectdirs/m1532/Projects_MVP/_datasets/mimiciii/PATIENTS.csv")

/usr/common/software/python/3.7-anaconda-2019.10/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#DOD filtering
def getIndex(startStr,iterations, addE = True):
    start = int(startStr)
    filtered_index = []
    index = []
    for x in range(iterations):
        if addE:
            filtered = diagnoses_dict["ICD9_CODE"].str.startswith("E"+startStr,na=False)
            start = start +1
            startStr = str(start)
        else:
            filtered = diagnoses_dict["ICD9_CODE"].str.startswith(startStr,na=False)
            start = start +1
            startStr = str(start)
        filtered_index = filtered[filtered].index
        index.append(filtered_index.tolist())
    return [inde for sublist in index for inde in sublist]
        
flat_filtered_list = []

In [22]:
#1.1
flat_filtered_list.append(getIndex("961",6, addE=True))
flat_filtered_list.append(getIndex("9680",10, addE=True))
flat_filtered_list.append(getIndex("967",10, addE=True))
flat_filtered_list.append(getIndex("990",100, addE=True))
flat_filtered_list.append(diagnoses_dict[diagnoses_dict["ICD9_CODE"].isin(["E9601","E969"])].index.tolist())

#1.2
flat_filtered_list.append(getIndex("630",50, addE=False))
len(flat_filtered_list)

#1.3
flat_filtered_list.append(getIndex("950",10, addE=True))
flat_filtered_list.append(getIndex("960",20, addE=False))
flat_filtered_list.append(getIndex("980",10, addE=True))
flat_filtered_list[-1]

#1.4
flat_filtered_list.append(getIndex("291",2, addE=False))
flat_filtered_list.append(getIndex("303",3, addE=False))
flat_filtered_list.append(getIndex("312",1, addE=False))
flat_filtered_list.append(getIndex("571",1, addE=False))
flat_filtered_list[-1]

#1.5
flat_filtered_list.append(getIndex("327",1, addE=False))
flat_filtered_list.append(getIndex("338",2, addE=False))
flat_filtered_list.append(getIndex("346",1, addE=False))
flat_filtered_list.append(getIndex("295",4, addE=False))
flat_filtered_list.append(getIndex("300",3, addE=False))
flat_filtered_list.append(getIndex("307",1, addE=False))
flat_filtered_list.append(getIndex("309",3, addE=False))
flat_filtered_list.append(getIndex("313",1, addE=False))

flat_filtered_list[-1]

In [ ]:
#getting specific ICD9_CODEs
icd9_code = []
x=0
for sublist in flat_filtered_list:
    for val in sublist:
        x+=1
        icd9_code.append(str(diagnoses_dict.iloc[val]["ICD9_CODE"]))

print(icd9_code)

In [24]:
diagnoses_df = diagnoses[diagnoses["ICD9_CODE"].isin(icd9_code)]
diagnoses_df

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
22        1319         109   173633      9.0     32723
24        1321         109   173633     11.0     33829
41        1501         114   178393      6.0      3051
63        1523         117   140784      1.0      5715
74        1534         117   164853      3.0      5712
...        ...         ...      ...      ...       ...
651009  639765       97488   161999     10.0     29181
651017  639773       97488   161999     18.0      3051
651020  639776       97488   161999     21.0     30391
651024  639780       97492   189314      1.0     34680
651031  639787       97492   189314      8.0       311

[30926 rows x 5 columns]

In [25]:
#create 1 with addition of DOB, admittime, dischtime
addDOB = diagnoses_df.merge(patients[["SUBJECT_ID","DOB"]], on = "SUBJECT_ID")
final_df = addDOB.merge(admissions[["SUBJECT_ID","HADM_ID","ADMITTIME","DISCHTIME"]], on = ["SUBJECT_ID","HADM_ID"], how = "left")

final_df = final_df.drop_duplicates(subset = ["SUBJECT_ID","HADM_ID"]).drop("SEQ_NUM", axis=1)
final_df.to_pickle("final_df.pickle")

In [4]:
#while loading = 1
final_df = pd.read_pickle("pickles/final_df.pickle")

In [26]:
#while loading = 2
notes_df = noteevents[["SUBJECT_ID","HADM_ID","CHARTDATE","CHARTTIME","CATEGORY","TEXT"]]
notes_df = final_df[["HADM_ID","SUBJECT_ID","DOB"]].drop_duplicates().merge(notes_df, on=["SUBJECT_ID","HADM_ID"], how="right")

notes = noteevents[["SUBJECT_ID","HADM_ID","CHARTDATE","CHARTTIME","CATEGORY","TEXT"]]
notes_df = pd.merge(final_df[["SUBJECT_ID","HADM_ID","DOB"]],notes.drop_duplicates(subset = ["SUBJECT_ID","HADM_ID","CHARTDATE","CHARTTIME"]), on=["SUBJECT_ID","HADM_ID"], how = "left")
notes_df = notes_df.drop_duplicates(subset='TEXT')
notes_df

,SUBJECT_ID,HADM_ID,DOB,CHARTDATE,CHARTTIME,CATEGORY,TEXT
0,109,173633,2117-08-07 00:00:00,2141-12-14,NaN,Discharge summary,Admission Date: [**2141-12-8**] ...
1,109,173633,2117-08-07 00:00:00,2141-12-07,NaN,ECG,Sinus tachycardia. No significant change comp...
2,109,173633,2117-08-07 00:00:00,2141-12-11,NaN,ECG,Sinus rhythm with first degree A-V block. Q-T...
3,109,173633,2117-08-07 00:00:00,2141-12-08,NaN,ECG,Sinus rhythm. No significant change compared ...
4,109,173633,2117-08-07 00:00:00,2141-12-09,2141-12-09 03:12:00,Nursing,Ms [**Known lastname 406**] is a 24 year old w...
...,...,...,...,...,...,...,...
370137,97492,189314,2126-09-04 00:00:00,2158-08-01,2158-08-01 10:17:00,Rehab Services,TITLE:\nBEDSIDE SWALLOWING EVALUATION:\nHISTOR...
370138,97492,189314,2126-09-04 00:00:00,2158-08-01,2158-08-01 00:34:00,Physician,SICU\n HPI:\n 31 yo RH woman with a PMH de...
370139,97492,189314,2126-09-04 00:00:00,2158-08-01,2158-08-01 10:43:00,Radiology,[**2158-8-1**] 10:43 AM\n MR HEAD W/O CONTRAST...
370140,97492,189314,2126-09-04 00:00:00,2158-07-31,2158-07-31 20:52:00,Radiology,[**2158-7-31**] 8:52 PM\n CTA HEAD W&W/O C & R...
370141,97492,189314,2126-09-04 00:00:00,2158-07-31,2158-07-31 20:54:00,Radiology,[**2158-7-31**] 8:54 PM\n CT HEAD W/O CONTRAST...

In [27]:
final_df.describe()

              ROW_ID    SUBJECT_ID        HADM_ID
count   17400.000000  17400.000000   17400.000000
mean   354063.750862  43463.657126  150011.170977
std    187887.469531  29942.677928   28880.720634
min        18.000000      4.000000  100003.000000
25%    195866.250000  17585.750000  124880.250000
50%    376292.500000  32594.000000  150361.500000
75%    516847.500000  69793.000000  174934.500000
max    651025.000000  99992.000000  199995.000000

In [28]:
notes_df.describe()

          SUBJECT_ID        HADM_ID
count  367101.000000  367101.000000
mean    40224.769469  149816.282247
std     29469.560491   28906.314246
min         4.000000  100003.000000
25%     15749.000000  125092.000000
50%     29664.000000  149397.000000
75%     65759.000000  175022.000000
max     99992.000000  199995.000000

In [29]:
print(len(final_df["SUBJECT_ID"].unique()))
print(len(notes_df["TEXT"].unique()))
print(len(final_df["HADM_ID"].unique()))
print(len(notes_df["HADM_ID"].unique()))

13952
367101
17400
17283

In [ ]:
notes_df_text = notes_df["TEXT"]
import time
substrings = []
x=1

def create_accum():
   counts = {}
   def accum(text):
        try:
            for x in text.split():
                if x in counts:
                    counts[x] += 1
                else: 
                    counts[x] = 1
        except:
            pass
   def fetch_accum():
        return counts
  
   return accum, fetch_accum

def second_accum(unique_dict):
    counts = {}
    def accum(text):
        try:
            start=time.time()
            alr =[]
            for sub in text.split():
                if sub in counts:
                    if sub not in alr:
                        counts[sub] += 1
                        alr.append(sub)
                else:
                    counts[sub] = 1
                    alr.append(sub)
            end = time.time()
            if ((end-start)>0.2):
                print(end-start)
        except:
            pass
    def fetch():
        return counts
    
    return accum, fetch
                    
    
# overall occurennce
print("overall occurrence start")
full_count, fetch = create_accum()
notes_df_text.apply(full_count)
full_count_sub = fetch()
print("overall occurrence end")


#notes occurrence
print("notes occurrence start")
notes_count, fetch = second_accum(full_count_sub)
notes_df_text.apply(notes_count)
notes_count_sub = fetch()
print("notes_occurrence end")



def third_accum():
    counts = {}
    
    biglistcounter = []
    def accum(subject):
        ind=0
        for subjectID in subject:
            start = time.time()
            tracker = []

            notes_text = notes_df[notes_df["SUBJECT_ID"]==subjectID]["TEXT"]
            for text in notes_text:
                try:
                    
                    for sub in text.split():
                        if (sub in counts):
                            if (sub not in tracker):
                                counts[sub]+=1
                                tracker.append(sub)
                        else:
                            counts[sub] = 1
                            tracker.append(sub)
                except:
                    pass
            end = time.time()
            ind+=1
            if(ind%1000==0):
                print((end-start)*(13952-ind)/3600)
    def fetch():
        return counts
    
    return accum, fetch

print("patients occurrence start")
dataf = notes_df["SUBJECT_ID"].unique()
print(dataf)
patient_count, fetch = third_accum()
patient_count(dataf)
patient_count_sub = fetch()
print(len(patient_count_sub))

In [36]:
#for some reason patient_count_sub did not register 80 words
notin = []
for sub in full_count_sub:
    if sub not in patient_count_sub:
        notin.append(sub)
dictappend = {}
for x in notin:
    try:
        dictappend[x] = len(notes_df[notes_df["TEXT"].str.contains(str(x), na=False, regex=False)]["SUBJECT_ID"].unique())
    except Exception as e:
        print(str(e) , x)
    

patient_count_sub_mod = {}
for key in full_count_sub:
    if key in patient_count_sub:
        patient_count_sub_mod[key] = patient_count_sub[key]
    else:
        patient_count_sub_mod[key] = dictappend[key]
len(patient_count_sub_mod)
with open('thirdaccumDOD.pickle', 'wb') as f:
    pickle.dump(patient_count_sub_mod, f)


print(len(full_count_sub),len(notes_count_sub),len(patient_count_sub_mod))

In [1]:
#while loading = 3
import pickle

with open('pickles/firstaccumDOD.pickle',"rb") as f:
    full_count_sub = pickle.load(f)
with open('pickles/secondaccumDOD.pickle',"rb") as f:
    notes_count_sub = pickle.load(f)
with open('pickles/thirdaccumDOD.pickle',"rb") as f:
    patient_count_sub_mod = pickle.load(f)

In [ ]:
#general population count - comparison
import time
# overall occurennce

def create_accum():
   counts = {}
   def accum(text):
        try:
            for x in text.split():
                if x in counts:
                    counts[x] += 1
                else: 
                    counts[x] = 1
        except:
            pass
   def fetch_accum():
        return counts
  
   return accum, fetch_accum

def second_accum(unique_dict):
    counts = {}
    def accum(text):
        try:
            start=time.time()
            alr =[]
            for sub in text.split():
                if sub in counts:
                    if sub not in alr:
                        counts[sub] += 1
                        alr.append(sub)
                else:
                    counts[sub] = 1
                    alr.append(sub)
            end = time.time()
            if ((end-start)>0.2):
                print(end-start)
        except:
            pass
    def fetch():
        return counts
    
    return accum, fetch


print("overall occurrence start")
general_count, fetch = create_accum()
noteevents["TEXT"].apply(general_count)
general_count_sub = fetch()
print("overall occurrence end")

with open('firstaccumDODgen.pickle', 'wb') as f:
    pickle.dump(general_count_sub, f)


#notes occurrence
print("notes occurrence start")
general_notes_count, fetch = second_accum(full_count_sub)
noteevents["TEXT"].apply(general_notes_count)
general_notes_count_sub = fetch()
print("notes_occurrence end")

with open('secondaccumDODgen.pickle', 'wb') as f:
    pickle.dump(general_notes_count_sub, f)

def third_accum_all():
    counts = {}
    
    biglistcounter = []
    def accum(subject):
        indec = 1
        for subjectID in subject:
            start = time.time()
            tracker = []

            notes_text = noteevents[noteevents["SUBJECT_ID"]==subjectID]["TEXT"]
            for text in notes_text:
                try:
                    
                    for sub in text.split():
                        if (sub in counts):
                            if (sub not in tracker):
                                counts[sub]+=1
                                tracker.append(sub)
                        else:
                            counts[sub] = 1
                            tracker.append(sub)
                except:
                    pass
            end = time.time()
            indec+=1
            if indec%100000 ==0:
                print((end-start)*(46146-indec)/3600)
    def fetch():
        return counts
    
    return accum, fetch

print("patients occurrence start")
data = noteevents["SUBJECT_ID"].unique()
print(data)
general_patient_count, fetch = third_accum_all()
print("2nd")
general_patient_count(data)
print("3rd")
general_patient_count_sub = fetch()
print("4th")

with open('thirdaccumDODgen.pickle', 'wb') as f:
    pickle.dump(general_patient_count_sub, f)

In [7]:
#while loading = 4
with open('pickles/firstaccumDODgen.pickle',"rb") as f:
    general_count_sub = pickle.load(f)
with open('pickles/secondaccumDODgen.pickle',"rb") as f:
    general_notes_count_sub = pickle.load(f)
with open('pickles/thirdaccumDODgen.pickle',"rb") as f:
    general_patient_count_sub = pickle.load(f)

In [48]:
#while loading = 5
print(len(general_count_sub),len(general_patient_count_sub),len(general_notes_count_sub))
general_combined_dict = {"strings":list(general_count_sub.keys()),"Full_Count":list(general_count_sub.values()), "Notes_Count":list(general_notes_count_sub.values()),"Patient_Count":list(general_patient_count_sub.values())}
general_all_counts = pd.DataFrame(general_combined_dict)
general_all_counts.nlargest(20,'Full_Count')

3793238 3793238 3793238

     strings  Full_Count  Notes_Count  Patient_Count
54       and     9842245      1534841          46097
59        to     8672697      1507053          46110
52        of     7905694      1512234          45956
21       the     7212747      1125181          44531
26      with     6791111      1511060          46007
20        in     4663945      1328539          45778
113       is     4591384      1123977            173
188      for     4568735      1309888              7
1322       -     3975669       339617           3381
119       on     3885019      1134734          31775
139      was     2994880       550656          16789
13         a     2419113       699594          45198
148       at     2354460       925298           1737
38        no     2222746       986883          45725
486       No     2028390       911417          40205
240      The     1952231       520994            619
6341      AM     1903093       493383           1600
68        as     1843317       718264          43753
939       mL     1688722       185552            343
293      are     1533978       633165           3654

In [49]:
#while loading = 6
#DoD filtered - real
combined_dict = {"strings":list(full_count_sub.keys()),"Full_Count":list(full_count_sub.values()),"Notes_Count_Sub":list(notes_count_sub.values()),"Patient_Count_Sub":list(patient_count_sub_mod.values())}
all_counts = pd.DataFrame(combined_dict)
all_counts.head(20)

               strings  Full_Count  Notes_Count_Sub  Patient_Count_Sub
0            Admission       28856            25359              13597
1                Date:       35469            17796              13525
2      [**2141-12-8**]          51               20                  8
3            Discharge       94446            17898              13509
4     [**2141-12-14**]          40               14                  6
5                 Date       24909            21904              12895
6                   of     1779981           287888              13845
7               Birth:       16440            16429              12665
8       [**2117-8-7**]          37               30                  6
9                 Sex:       16442            16429              12668
10                   F       19444            15394               6175
11            Service:       17610            17590              13492
12            MEDICINE        9613             9334               7138
13          Allergies:       43253            42900              12055
14         Penicillins        6526             6497               1660
15                   /      372410            60289               8506
16            Percocet        3408             3024               1743
17  Attending:[**First       13870            13870              11069
18               Name3       25249            20897              11826
19                (LF)       35499            21250              11899

In [50]:
all_counts.nlargest(10,"Full_Count")[["strings","Full_Count"]]

    strings  Full_Count
61      and     2091574
71       to     1794816
6        of     1779981
72      the     1712929
49     with     1424280
43       is     1001571
66      for      988169
115      in      945057
89       on      801443
192       -      786137

In [51]:
all_counts.nsmallest(10,"Full_Count")[["strings","Full_Count"]]

                  strings  Full_Count
380               165/120           1
470          Amylase-347*           1
486           Folate-18.5           1
601        Abdomin/Pelvis           1
929               Prefer:           1
1034  by:[**2141-12-16**]           1
1121      [**2143-4-20**]           1
1156             182/102,           1
1175              800unit           1
1205      135-182/88-125.           1

In [52]:
all_counts.nlargest(10,"Notes_Count_Sub")[["strings","Notes_Count_Sub"]]

    strings  Notes_Count_Sub
6        of           287888
61      and           278113
49     with           277260
71       to           272161
66      for           245811
115      in           233387
72      the           231441
43       is           225319
89       on           202184
681      at           179336

In [53]:
all_counts.nsmallest(10,"Notes_Count_Sub")[["strings","Notes_Count_Sub"]]

                  strings  Notes_Count_Sub
380               165/120                1
470          Amylase-347*                1
486           Folate-18.5                1
533    [**2141-12-10**]):                1
543     [**2141-12-8**]):                1
601        Abdomin/Pelvis                1
929               Prefer:                1
1034  by:[**2141-12-16**]                1
1121      [**2143-4-20**]                1
1156             182/102,                1

In [54]:
all_counts.nlargest(10,"Patient_Count_Sub")[["strings","Patient_Count_Sub"]]

    strings  Patient_Count_Sub
61      and              13847
6        of              13845
71       to              13845
49     with              13843
72      the              13841
66      for              13838
115      in              13838
43       is              13828
89       on              13821
168      no              13814

In [55]:
all_counts.nsmallest(10,"Patient_Count_Sub")[["strings","Patient_Count_Sub"]]

                     strings  Patient_Count_Sub
133                 240/184,                  1
149              intropaste,                  1
217                CKD/ESRD:                  1
218                 Diagosed                  1
258        plasmapheresisis)                  1
267            ([**2139**]);                  1
271          ([**4-/2138**],                  1
273           [**9-/2140**])                  1
279  ([**2137**]-[**2140**])                  1
283           [**8-/2140**])                  1

In [56]:
#DoD
import math
def getTFIDF(total,column):
    tfidf_list = []
    for x in all_counts.index:
        start = time.time()
        row = all_counts.iloc[x]
        full_count = row["Full_Count"]
        count_number = row[column]
        tfidf = full_count * math.log(total/count_number)
        tfidf_list.append(tfidf)
        end = time.time()
        if ((x+1)%100000==0):
            print(x, end-start)
    return tfidf_list
print("notes")
notes_tfidf = getTFIDF(len(notes_df_text.index),"Notes_Count_Sub")
print("subjects")
subject_tfidf = getTFIDF(len(notes_df["SUBJECT_ID"].unique()), "Patient_Count_Sub")

notes
99999 0.0001857280731201172
199999 0.0001742839813232422
299999 0.0001800060272216797
399999 0.0002548694610595703
499999 0.00017786026000976562
599999 0.0001785755157470703
699999 0.00019097328186035156
799999 0.00017642974853515625
899999 0.00018596649169921875
999999 0.00018358230590820312
1099999 0.0002079010009765625
1199999 0.0002110004425048828
1299999 0.0002224445343017578
1399999 0.00019693374633789062
1499999 0.00018143653869628906
subjects
99999 0.00017571449279785156
199999 0.0001811981201171875
299999 0.00018334388732910156
399999 0.00017213821411132812
499999 0.0001881122589111328
599999 0.00018024444580078125
699999 0.00018215179443359375
799999 0.0002086162567138672
899999 0.00017976760864257812
999999 0.00019598007202148438
1099999 0.00021195411682128906
1199999 0.00020194053649902344
1299999 0.0003006458282470703
1399999 0.00019860267639160156
1499999 0.00021123886108398438

In [ ]:
#general
print(len(general_all_counts.index))

def getTFIDF_general(total,column):
    tfidf_list = []
    for x in general_all_counts.index:
        start = time.time()
        row = general_all_counts.iloc[x]
        full_count = row["Full_Count"]
        count_number = row[column]
        tfidf = full_count * math.log(total/count_number)
        tfidf_list.append(tfidf)
        end = time.time()
        if ((x+1)%100000==0):
            print(x, end-start)
    return tfidf_list
general_notes_tfidf = getTFIDF_general(len(general_all_counts.index),"Notes_Count")
print("next")


print("in")
general_patient_tfidf = getTFIDF_general(len(noteevents["SUBJECT_ID"].unique()),"Patient_Count")

In [59]:
#Dod


tfidf_df = pd.DataFrame({"strings":all_counts["strings"].copy(),"notesTFIDF":notes_tfidf,"patientTFIDF": subject_tfidf})

stop_words = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such','only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
ind = 0
removed_words = tfidf_df[tfidf_df["strings"].str.lower().isin(stop_words)==True]

tfidf_df = tfidf_df[tfidf_df["strings"].str.lower().isin(stop_words)==False]
tfidf_df_bool = tfidf_df["strings"].str.contains(r'[A-Za-z0-9]+')
removed_words = pd.concat([tfidf_df[tfidf_df_bool == False], removed_words])
tfidf_df = tfidf_df[tfidf_df_bool]
print(removed_words)
print(len(tfidf_df.index))

        strings    notesTFIDF   patientTFIDF
15            /  6.727540e+05  181581.766465
25            &  1.787946e+05   24439.994127
42          **]  3.590725e+05    3311.049464
192           -  1.342721e+06   70992.131812
328           .  5.499147e+05   79430.886823
...         ...           ...            ...
1418119     noW  1.281339e+01       9.536113
1442955      iF  1.281339e+01       9.536113
1451054  Myself  1.281339e+01       9.536113
1473910      dO  1.281339e+01       9.536113
1488605      wE  1.281339e+01       9.536113

[1799 rows x 3 columns]
1547590

In [60]:
len(all_counts["strings"])-len(tfidf_df["strings"])

1799

In [10]:
#while loading = 7
tfidf_df = pd.read_pickle('pickles/tfidf_df.pickle')

In [65]:
total_notes_tfidf = tfidf_df["notesTFIDF"].sum()
total_patient_tfidf = tfidf_df["patientTFIDF"].sum()
print(0.8*total_notes_tfidf,0.8*total_patient_tfidf)

def getactivation(total,column,start,stop):
    activation_notes = int()
    for x in range(start,stop):
        sums = tfidf_df.nlargest(x,column)[column].sum()
        if sums >= (0.8*total):
            activation_notes = x
            break
    return activation_notes

notes_act = getactivation(total_notes_tfidf,"notesTFIDF",39800,40000)
notes_act

patient_act = getactivation(total_patient_tfidf,"patientTFIDF",89500,90000)
patient_act

tfidf_df.nlargest(88000,"patientTFIDF")["patientTFIDF"].sum()

In [66]:
#general

tfidf_df_general = pd.DataFrame({"strings":general_all_counts["strings"].copy(),"notesTFIDF":general_notes_tfidf,"patientTFIDF": general_patient_tfidf})

removed_words_general = tfidf_df_general[tfidf_df_general["strings"].str.lower().isin(stop_words)==True]

tfidf_df_general = tfidf_df_general[tfidf_df_general["strings"].str.lower().isin(stop_words)==False]
tfidf_df_general_bool = tfidf_df_general["strings"].str.contains(r'[A-Za-z0-9]+')
removed_words_general = pd.concat([tfidf_df_general[tfidf_df_general_bool == False], removed_words_general])
tfidf_df_general = tfidf_df_general[tfidf_df_general_bool]
print(len(tfidf_df_general.index))
print(len(general_all_counts.index)-len(tfidf_df_general.index))

3790360
2878

In [67]:
tfidf_df_general

                 strings    notesTFIDF  patientTFIDF
0              Admission  3.960154e+05   7734.538159
1                  Date:  5.004676e+05  13941.094373
2        [**2151-7-16**]  2.007316e+03   1422.625298
3              Discharge  1.087182e+06  30807.322128
4         [**2151-8-4**]  5.487733e+02    366.480935
...                  ...           ...           ...
3793233     [**2114**].(  1.514873e+01     10.739566
3793234        plannned.  1.514873e+01     10.739566
3793235           +milia  1.514873e+01     10.739566
3793236       37-->Start  1.514873e+01     10.739566
3793237           29.7C,  1.514873e+01     10.739566

[3790360 rows x 3 columns]

In [68]:
tfidf_df_general.to_pickle("tfidf_df_general.pickle")

In [11]:
#while loading = 8
tfidf_df_general = pd.read_pickle('pickles/tfidf_df_general.pickle')

In [72]:
total_notes_tfidf_general = tfidf_df_general["notesTFIDF"].sum()
total_patient_tfidf_general = tfidf_df_general["patientTFIDF"].sum()
print(0.8*total_notes_tfidf_general,0.8*total_patient_tfidf_general)

def getactivation_general(total,column,start,stop):
    activation_notes = int()
    for x in range(start,stop):
        sums = tfidf_df_general.nlargest(x,column)[column].sum()
        if sums >= (0.8*total):
            activation_notes = x
            break
    return activation_notes
print("notes")
notes_act_general = getactivation_general(total_notes_tfidf_general,"notesTFIDF",35700,35800)
print(notes_act_general)
patient_act_general = getactivation_general(total_patient_tfidf_general,"patientTFIDF",26000,27000)
print(patient_act_general)

notes_act_general

tfidf_df_general.nlargest(35700,"notesTFIDF")["notesTFIDF"].sum()

In [73]:
#DoD

words_list_notes = tfidf_df.nlargest(notes_act,"notesTFIDF")
words_list_notes = words_list_notes[["strings","notesTFIDF"]]
notes_percentages = []
totalfornotes = all_counts["Notes_Count_Sub"].sum()
for coun in all_counts["Notes_Count_Sub"]:
    notes_percentages.append(coun/totalfornotes*100)

    notes_pdf = pd.DataFrame({"strings":all_counts["strings"].copy(), "Percent":notes_percentages})
words_list_notes = words_list_notes.merge(notes_pdf)


words_list_notes_50 = words_list_notes.iloc[0:50]
words_list_notes_50

ehere
here
p much done

         strings     notesTFIDF   Percent
0             mL  721288.849261  0.059009
1             mg  622418.030272  0.045819
2         Tablet  594890.967871  0.018041
3           Sig:  497055.795243  0.016334
4             PO  481798.360016  0.046009
5            (1)  436165.261866  0.033198
6          BLOOD  388561.166828  0.020202
7             Pt  373435.153615  0.117029
8           left  369760.252491  0.157988
9             PM  367138.596667  0.133130
10         right  358840.965478  0.153188
11          Name  354618.542375  0.170177
12       patient  353693.369462  0.096291
13           One  353609.515900  0.021223
14            no  342079.505186  0.236765
15         No(t)  339543.571691  0.010162
16            pt  337048.635269  0.101001
17            No  324193.689975  0.233228
18            CT  308816.664648  0.095426
19         mg/dL  303837.784794  0.039144
20         mEq/L  297008.772392  0.038934
21     Discharge  285316.458566  0.024358
22           not  283076.938655  0.146096
23         valve  271187.220828  0.026424
24       [**Last  270139.512380  0.116327
25          tube  254315.438567  0.102395
26        aortic  243498.026666  0.030843
27            IV  230640.355012  0.104656
28          pain  230314.658196  0.074259
29       Patient  229024.167247  0.077847
30           Not  227449.338321  0.025862
31           ICU  226942.289355  0.059675
32   ventricular  225454.828949  0.037584
33           s/p  224881.057114  0.116045
34  [**Hospital1  222051.649107  0.062581
35         given  219173.577579  0.092370
36          Lung  217783.413788  0.033672
37        normal  213722.955845  0.079581
38            w/  206725.655355  0.043406
39         chest  206632.192643  0.089774
40     Comments:  205227.014539  0.049422
41             2  202287.168105  0.084716
42             1  198920.936136  0.065386
43        Normal  198330.034981  0.043816
44         Plan:  196345.944837  0.082310
45   Assessment:  195892.248903  0.051538
46       Action:  195074.414867  0.048966
47     Response:  195030.364936  0.049674
48      evidence  192795.940993  0.079902
49         acute  192794.433537  0.088652

In [74]:
words_list_patient = tfidf_df.nlargest(patient_act,"patientTFIDF")
words_list_patient = words_list_patient[["strings","patientTFIDF"]]
patient_percentages = []
totalforpatient = all_counts["Patient_Count_Sub"].sum()
for coun in all_counts["Patient_Count_Sub"]:
    patient_percentages.append(coun/totalforpatient*100)
print("here")
patient_pdf = pd.DataFrame({"strings":all_counts["strings"].copy(), "Percent":patient_percentages})
words_list_patient = words_list_patient.merge(patient_pdf)
words_list_patient_50 = words_list_patient.iloc[0:50]
words_list_patient_50

here

         strings   patientTFIDF   Percent
0             mL  233243.868264  0.021237
1          mEq/L  165998.346756  0.010178
2          mg/dL  165807.097518  0.010557
3          No(t)  158620.876734  0.006868
4      Comments:  124784.702417  0.010380
5      Response:  118970.452587  0.010365
6        Action:  118311.762558  0.010358
7    Assessment:  115794.181496  0.011065
8        Sounds:  104654.893299  0.009529
9          cmH2O  104412.954385  0.005390
10         Total   87925.769186  0.012824
11        pulse:   86246.617189  0.007250
12           Not   81323.011740  0.014700
13          Lung   80863.905584  0.015565
14          tube   79483.929329  0.025820
15         Plan:   78813.663907  0.020546
16        mg/dL,   77279.855707  0.009612
17    Assessment   76291.371976  0.012745
18            Pt   73752.181773  0.031813
19  medications:   71934.637703  0.013840
20          K/uL   71663.900936  0.009958
21   assessment:   70607.020711  0.004466
22         trach   65519.630353  0.003022
23         SpO2:   64827.243827  0.008015
24        Airway   64597.378594  0.005124
25         valve   64500.780130  0.021060
26          PICC   62600.341718  0.010395
27            pt   62593.140551  0.031488
28          Cuff   62568.312998  0.004935
29   Respiratory   60234.237077  0.020512
30         Order   57958.279788  0.002013
31         Ideal   57505.246210  0.005143
32         woman   56068.627534  0.016703
33        Tablet   55950.398278  0.031005
34         BLOOD   55023.787953  0.026903
35           man   54784.475665  0.022773
36         liver   54134.726977  0.017122
37     breathing   54022.456576  0.016315
38          vent   53879.327393  0.012075
39          Sig:   53544.008515  0.029313
40      Continue   53052.962872  0.019961
41             C   52537.431527  0.020310
42          Data   52025.073350  0.010631
43        Sputum   51790.645386  0.007911
44        aortic   50838.126154  0.023691
45            w/   50707.003315  0.023271
46           ICU   50392.889357  0.026435
47         renal   50072.058747  0.017835
48            kg   49871.807670  0.009135
49           Day   48950.924216  0.006039

In [75]:
print(words_list_patient_50["strings"].tolist())

['mL', 'mEq/L', 'mg/dL', 'No(t)', 'Comments:', 'Response:', 'Action:', 'Assessment:', 'Sounds:', 'cmH2O', 'Total', 'pulse:', 'Not', 'Lung', 'tube', 'Plan:', 'mg/dL,', 'Assessment', 'Pt', 'medications:', 'K/uL', 'assessment:', 'trach', 'SpO2:', 'Airway', 'valve', 'PICC', 'pt', 'Cuff', 'Respiratory', 'Order', 'Ideal', 'woman', 'Tablet', 'BLOOD', 'man', 'liver', 'breathing', 'vent', 'Sig:', 'Continue', 'C', 'Data', 'Sputum', 'aortic', 'w/', 'ICU', 'renal', 'kg', 'Day']

In [76]:
print(words_list_notes_50["strings"].tolist())

['mL', 'mg', 'Tablet', 'Sig:', 'PO', '(1)', 'BLOOD', 'Pt', 'left', 'PM', 'right', 'Name', 'patient', 'One', 'no', 'No(t)', 'pt', 'No', 'CT', 'mg/dL', 'mEq/L', 'Discharge', 'not', 'valve', '[**Last', 'tube', 'aortic', 'IV', 'pain', 'Patient', 'Not', 'ICU', 'ventricular', 's/p', '[**Hospital1', 'given', 'Lung', 'normal', 'w/', 'chest', 'Comments:', '2', '1', 'Normal', 'Plan:', 'Assessment:', 'Action:', 'Response:', 'evidence', 'acute']

In [77]:
#general
words_list_notes_general = tfidf_df_general.nlargest(notes_act_general,"notesTFIDF")
words_list_notes_general = words_list_notes_general[["strings","notesTFIDF"]]
print(words_list_notes_general)
notes_percentages_general = []
print("ehere")
totalfornotes_general = general_all_counts["Notes_Count"].sum()
for coun in general_all_counts["Notes_Count"]:
    notes_percentages_general.append(coun/totalfornotes_general*100)
notes_pdf_general = pd.DataFrame({"strings":general_all_counts["strings"].copy(), "Percent":notes_percentages_general})
words_list_notes_general = words_list_notes_general.merge(notes_pdf_general)

print("p much done")
words_list_notes_50_general = words_list_notes_general.iloc[0:50]
words_list_notes_50_general

            strings    notesTFIDF
939              mL  5.095955e+06
38               no  2.992758e+06
486              No  2.892433e+06
2468             PM  2.835077e+06
22             left  2.805587e+06
...             ...           ...
41395    [**3-4**].  5.479935e+03
54808       HEARING  5.479935e+03
14878          (WBC  5.479074e+03
1207581        tnsf  5.478937e+03
230408     Q6H:PRN,  5.478799e+03

[35723 rows x 2 columns]
ehere
p much done

        strings    notesTFIDF   Percent
0            mL  5.095955e+06  0.053321
1            no  2.992758e+06  0.283595
2            No  2.892433e+06  0.261909
3            PM  2.835077e+06  0.130249
4          left  2.805587e+06  0.156982
5            mg  2.702998e+06  0.039541
6            Pt  2.648502e+06  0.110702
7          Name  2.645391e+06  0.184958
8         right  2.642388e+06  0.145411
9       patient  2.200833e+06  0.089346
10           pt  2.194198e+06  0.094701
11           CT  2.116187e+06  0.092902
12       Tablet  2.097299e+06  0.010025
13           PO  1.970247e+06  0.045402
14          not  1.953906e+06  0.143408
15        mg/dL  1.897874e+06  0.041473
16        mEq/L  1.897657e+06  0.041330
17      [**Last  1.816497e+06  0.124386
18        No(t)  1.805359e+06  0.009277
19         Sig:  1.742642e+06  0.009059
20          (1)  1.700598e+06  0.028648
21          s/p  1.605486e+06  0.113567
22           IV  1.600913e+06  0.107565
23        valve  1.532093e+06  0.024902
24        Plan:  1.526749e+06  0.089576
25         tube  1.510078e+06  0.083923
26  Assessment:  1.467159e+06  0.062286
27        given  1.462989e+06  0.096600
28    Response:  1.458069e+06  0.060618
29      Action:  1.457385e+06  0.060272
30          ICU  1.447048e+06  0.056510
31       aortic  1.426304e+06  0.030994
32  ventricular  1.397555e+06  0.044218
33          Not  1.394242e+06  0.025904
34           w/  1.387519e+06  0.050099
35     Continue  1.352855e+06  0.071214
36       normal  1.352846e+06  0.082123
37      Patient  1.346276e+06  0.068908
38        BLOOD  1.339329e+06  0.014659
39         pain  1.331019e+06  0.070243
40         (NI)  1.289269e+06  0.079437
41        chest  1.280771e+06  0.079826
42  [**Hospital  1.273852e+06  0.178023
43           24  1.270189e+06  0.066549
44            2  1.270100e+06  0.090669
45          One  1.262114e+06  0.016027
46        prior  1.257507e+06  0.094094
47        noted  1.238839e+06  0.100366
48      Reason:  1.228776e+06  0.155084
49       Number  1.220084e+06  0.151975

In [78]:
words_list_patient_general = tfidf_df_general.nlargest(patient_act_general,"patientTFIDF")
words_list_patient_general = words_list_patient_general[["strings","patientTFIDF"]]
patient_percentages_general = []
print("ehere")
totalforpatient_general = general_all_counts["Patient_Count"].sum()
for coun in general_all_counts["Patient_Count"]:
    patient_percentages_general.append(coun/totalforpatient_general*100)
print("here")
patient_pdf_general = pd.DataFrame({"strings":general_all_counts["strings"].copy(), "Percent":patient_percentages_general})
words_list_patient_general = words_list_patient_general.merge(patient_pdf_general)

print("p much done")
words_list_patient_50_general = words_list_patient_general.iloc[0:50]
words_list_patient_50_general

ehere
here
p much done

         strings  patientTFIDF       Percent
0             mL  8.277837e+06  3.001661e-04
1           Clip  5.983388e+06  8.751200e-07
2          Plan:  5.291093e+06  7.000960e-06
3        Action:  5.057327e+06  1.750240e-06
4         REASON  4.711700e+06  5.250720e-06
5             PM  4.612033e+06  1.274175e-03
6          small  4.226380e+06  5.250720e-06
7          mEq/L  4.133896e+06  3.237944e-05
8           2**]  4.062810e+06  8.751200e-07
9            Not  4.004075e+06  8.751200e-07
10   IMPRESSION:  3.900874e+06  6.125840e-06
11     Response:  3.775366e+06  2.275312e-05
12  [**Hospital1  3.644102e+06  7.000960e-06
13       remains  3.438264e+06  8.751200e-06
14   Assessment:  3.423665e+06  5.075696e-05
15   (Radiology)  3.282701e+06  1.583967e-04
16         Total  3.245074e+06  5.250720e-06
17         hours  3.056029e+06  8.751200e-07
18          post  3.051770e+06  1.750240e-06
19          Plan  3.008378e+06  8.751200e-07
20     Comments:  2.961858e+06  7.000960e-06
21        mg/dL,  2.948483e+06  8.751200e-07
22       [**Clip  2.797812e+06  3.579241e-04
23        Infant  2.698112e+06  8.751200e-07
24      evidence  2.668066e+06  1.120154e-04
25        noted.  2.636660e+06  8.751200e-07
26        REPORT  2.500206e+06  7.053467e-04
27     increased  2.433461e+06  7.351008e-05
28          Last  2.405459e+06  1.723986e-04
29      (STitle)  2.279890e+06  7.000960e-05
30          Lung  2.257145e+06  8.751200e-07
31           Hct  2.223622e+06  9.626320e-06
32          seen  2.204304e+06  1.592718e-04
33         right  2.194525e+06  7.579414e-03
34            NO  2.119249e+06  8.751200e-07
35      Continue  2.091289e+06  5.950816e-04
36          Cont  2.077140e+06  2.625360e-05
37         acute  2.066182e+06  5.285725e-04
38            IV  2.041063e+06  2.108164e-03
39   COMPARISON:  1.988516e+06  8.751200e-07
40      continue  1.969339e+06  2.625360e-04
41   Respiratory  1.869552e+06  4.568126e-04
42         Heart  1.803324e+06  7.000960e-06
43      received  1.800352e+06  4.375600e-06
44            pt  1.800336e+06  5.439746e-03
45           not  1.787475e+06  6.314866e-03
46         mg/dL  1.784053e+06  1.869256e-03
47            BS  1.772007e+06  8.751200e-07
48         level  1.753793e+06  8.751200e-07
49        atrial  1.740452e+06  1.750240e-06

In [79]:
print(words_list_patient_50_general["strings"].tolist())

['mL', 'Clip', 'Plan:', 'Action:', 'REASON', 'PM', 'small', 'mEq/L', '2**]', 'Not', 'IMPRESSION:', 'Response:', '[**Hospital1', 'remains', 'Assessment:', '(Radiology)', 'Total', 'hours', 'post', 'Plan', 'Comments:', 'mg/dL,', '[**Clip', 'Infant', 'evidence', 'noted.', 'REPORT', 'increased', 'Last', '(STitle)', 'Lung', 'Hct', 'seen', 'right', 'NO', 'Continue', 'Cont', 'acute', 'IV', 'COMPARISON:', 'continue', 'Respiratory', 'Heart', 'received', 'pt', 'not', 'mg/dL', 'BS', 'level', 'atrial']

In [80]:
print(words_list_notes_50_general["strings"].tolist())

['mL', 'no', 'No', 'PM', 'left', 'mg', 'Pt', 'Name', 'right', 'patient', 'pt', 'CT', 'Tablet', 'PO', 'not', 'mg/dL', 'mEq/L', '[**Last', 'No(t)', 'Sig:', '(1)', 's/p', 'IV', 'valve', 'Plan:', 'tube', 'Assessment:', 'given', 'Response:', 'Action:', 'ICU', 'aortic', 'ventricular', 'Not', 'w/', 'Continue', 'normal', 'Patient', 'BLOOD', 'pain', '(NI)', 'chest', '[**Hospital', '24', '2', 'One', 'prior', 'noted', 'Reason:', 'Number']

In [81]:
l = [words_list_patient_general,
words_list_notes_general,
words_list_patient,
words_list_notes]
for lists in l:
    print(len(lists))

26622
35723
89610
39946

In [ ]:
tot_patient_general = words_list_patient_general["patientTFIDF"].sum()
tot_patient = words_list_patient["patientTFIDF"].sum()
patient_salience = {}
indasdf=0
for word in words_list_patient["strings"]:
    indasdf+=1
    dod = float(words_list_patient[words_list_patient["strings"]==word]["patientTFIDF"])
    gen = words_list_patient_general[words_list_patient_general["strings"]==word]
    if not gen.empty:
        gen = float(gen["patientTFIDF"])
        patient_salience[word] = dod/tot_patient-gen/tot_patient_general
    else:
        gen = 0
        patient_salience[word] = dod/tot_patient-gen/tot_patient_general

In [12]:
#while loading = 9
salience_notes = pd.read_pickle('pickles/salience_notes.pickle')
salience_patient = pd.read_pickle('pickles/salience_patient.pickle')
salience_notes.nlargest(20,'salience_values')

         strings  salience_values
2         Tablet         0.000701
3           Sig:         0.000592
6          BLOOD         0.000477
1             mg         0.000424
5            (1)         0.000415
13           One         0.000407
4             PO         0.000402
21     Discharge         0.000287
36          Lung         0.000240
60         DAILY         0.000210
66       Sounds:         0.000177
160     (Daily).         0.000161
222  assessment:         0.000151
107     History:         0.000141
274         Cuff         0.000139
232      Capsule         0.000138
94     breathing         0.000137
286       Airway         0.000123
54         daily         0.000118
324       portal         0.000118

In [83]:
salience_patient = pd.DataFrame({"strings":list(patient_salience.keys()),"salience_values":list(patient_salience.values())})
salience_patient

                             strings  salience_values
0                                 mL        -0.004019
1                              mEq/L        -0.001659
2                              mg/dL        -0.000054
3                              No(t)         0.000033
4                          Comments:        -0.001148
...                              ...              ...
87856                       -Lacunar         0.000002
87857                    Montaggeia,         0.000002
87858  Magma,CABGx2(SVG-OM,SVG-PDA),         0.000002
87859              [**2190-10-30**].         0.000002
87860                  Lipase:40/26,         0.000002

[87861 rows x 2 columns]

In [84]:
salience_patient.nlargest(50,'salience_values')

          strings  salience_values
8         Sounds:         0.000434
22          trach         0.000406
26           PICC         0.000388
24         Airway         0.000352
37      breathing         0.000302
43         Sputum         0.000285
49            Day         0.000250
36          liver         0.000250
51    ventilation         0.000245
107     intubated         0.000239
184          MICU         0.000218
121       status:         0.000218
170       failure         0.000216
93        Heparin         0.000195
120         Type:         0.000180
206          code         0.000179
91   Prophylaxis:         0.000178
60             PT         0.000174
134   respiratory         0.000168
225          COPD         0.000167
192         lasix         0.000164
14           tube         0.000164
139          TIPS         0.000162
314           TPN         0.000158
21    assessment:         0.000157
200       frontal         0.000156
150            GI         0.000154
87           Tube         0.000151
386           ETT         0.000147
387        sputum         0.000146
500           EGD         0.000145
388      cerebral         0.000144
147           RR:         0.000142
341           [x]         0.000141
187           LLL         0.000141
196           LUL         0.000137
117    transplant         0.000136
63     Nutrition:         0.000136
279   ventilatory         0.000134
395      Chloride         0.000133
260            CK         0.000133
179    hemorrhage         0.000131
350         mouth         0.000129
469      negative         0.000128
261   Ventilation         0.000126
320      bleeding         0.000125
278  Tracheostomy         0.000125
214           MRI         0.000124
442          100%         0.000124
109       Rhonchi         0.000123

In [85]:
tot_notes_general = words_list_notes_general["notesTFIDF"].sum()
tot_notes = words_list_notes["notesTFIDF"].sum()
notes_salience = {}
for word in words_list_notes["strings"]:
    dod = float(words_list_notes[words_list_notes["strings"]==word]["notesTFIDF"])
    gen = words_list_notes_general[words_list_notes_general["strings"]==word]
    if not gen.empty:
        gen = float(gen["notesTFIDF"])
        notes_salience[word] = dod/tot_notes-gen/tot_notes_general
    else:
        gen = 0
        notes_salience[word] = dod/tot_notes-gen/tot_notes_general

salience_notes = pd.DataFrame({"strings":list(notes_salience.keys()),"salience_values":list(notes_salience.values())})
salience_notes

                   strings  salience_values
0                       mL        -0.000706
1                       mg         0.000424
2                   Tablet         0.000701
3                     Sig:         0.000592
4                       PO         0.000402
...                    ...              ...
39941  finger-nose-finger,         0.000003
39942                 87%.         0.000003
39943          CALCIUM-9.1         0.000003
39944                   ~4        -0.000002
39945            ursodiol,         0.000003

[39946 rows x 2 columns]

In [86]:
salience_notes.nlargest(50,'salience_values')

            strings  salience_values
2            Tablet         0.000701
3              Sig:         0.000592
6             BLOOD         0.000477
1                mg         0.000424
5               (1)         0.000415
13              One         0.000407
4                PO         0.000402
21        Discharge         0.000287
36             Lung         0.000240
60            DAILY         0.000210
66          Sounds:         0.000177
160        (Daily).         0.000161
222     assessment:         0.000151
107        History:         0.000141
274            Cuff         0.000139
232         Capsule         0.000138
94        breathing         0.000137
286          Airway         0.000123
54            daily         0.000118
324          portal         0.000118
354           Ideal         0.000115
224         Release         0.000114
152          needed         0.000111
85            times         0.000107
283         Tablet,         0.000107
333          (every         0.000105
340           day).         0.000103
93            liver         0.000103
309   Instructions:         0.000102
694         alcohol         0.000101
295     ventilation         0.000100
319          Sputum         0.000098
532     intubation:         0.000097
607      Diminished         0.000095
294             BID         0.000095
263         hepatic         0.000093
277           Clear         0.000092
787         Rhonchi         0.000091
357         Delayed         0.000090
625         volume:         0.000090
370      Tablet(s)*         0.000089
371              (2         0.000087
861       cirrhosis         0.000083
924            ETOH         0.000083
487     Refills:*2*         0.000082
489     Refills:*0*         0.000081
999           abuse         0.000081
420             Two         0.000080
953            EtOH         0.000079
1205           TIPS         0.000075